/** @format */

.brands {
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: gray;
	width: 100%;
	height: 200px;
	background-color: #f5f6f9;
}
.brands-card {
	text-align: center;
}

.brands-card p {
	color: gray;
	font-weight: lighter;
	font-size: 12px;
}
